.post
  padding: 10px
  &__title
    border-top: 5px solid $color-purple
    font-size: 40px
    font-weight: bolder
    color: $color-purple
  &__author
    p
      margin-bottom: 0
      span
        font-size: 18px
        font-weight: bolder
        color: $color-purple
